div class="main">
    <h1>Welcome to CSE Motors!</h1>
    <div class="hero">
        <div class="hero-text">
            <h2>DMC Delorean</h2>
            <p>3 Cup Holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <a href="/" title="Click here">Own Today</a>
            
        </div>
        <picture>
            <source srcset="../images/vehicles/delorean-tn.jpg" media="(max-width: 400px)">
            <img src="../images/vehicles/delorean.jpg" alt="CSE Motors hero image">
        </picture>
    </div>
    <div class="overview">
        <div class="info">
            <h2>DMC Delorean Reviews</h2>
            <div class="reviews">
                <ul>
                    <li>"So fast, it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly." (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </div>
        </div>

        <div class="pics">
            <h2>Delorean Upgrades</h2>
            <div class="upgrades">
                <section>
                    <picture>
                        <source srcset="../images/upgrades/flux-cap.png" media="(max-width: 200px)">
                        <img src="../images/upgrades/flux-cap.png" width="2" height="1" alt="flux cap">
                    </picture>
                    <h3><a href="/" title="Click to learn more">Flux Capacitor</a></h3>
                </section>
                <section>
                    <picture>
                        <source srcset="../images/upgrades/flame.jpg" media="(max-width: 200px)">
                        <img src="../images/upgrades/flame.jpg" width="2" height="1" alt="Flame Decals">
                    </picture>
                    <h3><a href="/" title="Click to learn more">Flame Decals</a></h3>
                </section>
                <section>
                    <picture>
                        <source srcset="../images/upgrades/bumper_sticker.jpg" media="(max-width: 200px)">
                        <img src="../images/upgrades/bumper_sticker.jpg" width="2" height="1" alt="Bumper stickers">
                    </picture>
                    <h3><a href="/" title="Click to learn more">Bumper Stickers</a></h3>
                </section>
                <section>
                    <picture>
                        <source srcset="../images/upgrades/hub-cap.jpg" media="(max-width: 200px)">
                        <img src="../images/upgrades/hub-cap.jpg" width="2" height="1" alt="Hub Caps">
                    </picture>
                    <h3><a href="/" title="Click to learn more">Hub Caps</a></h3>
                </section>
            </div>

        </div>
        
    </div>

</div>
